$background: #2b2b2b;
$font-color-dark: #ced4da;
$font-color-light: #868e96;
$font-color-medium: #dee2e6;
$link-color: #6ab0f3;
$link-color-hover: #e1a6f2;
$link-color-darker: #4a72a5;
$nav-bar-color: #1d1d1d;
$white: #fff;